---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPost from '@/components/BlogPost.astro';

const pageTitle = 'Blog';
let posts: any[] = [];
try {
  posts = await Astro.glob("../pages/posts/*.mdx")
} catch (e) {
  console.log("no blog posts found")
}
---
<BaseLayout {pageTitle}>
    <h1 class="scroll-m-20 text-3xl font-semibold tracking-tight mb-8">Recent</h1>
    <section class="flex flex-col gap-4"> 
      {posts.map((post) => <BlogPost url={post.url} {...post.frontmatter} />)}
    </section>
</BaseLayout>
