---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPost from '@/components/BlogPost.astro';

const pageTitle = 'Blog';
const posts = await Astro.glob("../pages/posts/*.mdx");
---
<BaseLayout pageTitle={pageTitle}>
    <section class="flex flex-col gap-4"> 
      {posts.map((post) => <BlogPost url={post.url} {...post.frontmatter} />)}
    </section>
</BaseLayout>
