---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPost from '@/components/BlogPost.astro';
import { getCollection } from 'astro:content';

const pageTitle = 'Blog';

const blogPosts = getCollection('blog', ({ data }) => {
  return data.draft !== true;
});
---
<BaseLayout {pageTitle}>
    <h1 class="scroll-m-20 text-3xl font-semibold tracking-tight mb-8">Recent</h1>
    <section class="flex flex-col gap-4"> 
      {blogPosts.map((post) => <BlogPost url={post.url} {...post.frontmatter} />)}
    </section>
</BaseLayout>
