---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Post from '@/components/Post.astro';
import { getCollection } from 'astro:content';

export const prerender = true;

const pageTitle = 'Blog';
const posts = await getCollection('blog', ({ data }) => !data.hidden);
---
<BaseLayout {pageTitle}>
  <h1 class="fd-page-heading">Posts</h1>
    <section class="flex flex-col gap-4">
      {posts.sort((a, b) => a.data.idx - b.data.idx).reverse().map((post) => <Post url=`/blog/${post.id}/` {...post.data} />)}
    </section>
</BaseLayout>

