---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPost from '@/components/BlogPost.astro';

const pageTitle = 'Blog';

interface Frontmatter {
  layout: string;
  title: string;
  description: string;
  publishedAt: string;
  src: string;
  tags: string[];
}

let posts: any[] = [];
try {
  posts = (await Astro.glob<Frontmatter>("../pages/posts/*.mdx")).sort((a, b) => {
    return new Date(b.frontmatter.publishedAt).getTime() - new Date(a.frontmatter.publishedAt).getTime();
  });
} catch (e) {
  console.log("no blog posts found")
}
---
<BaseLayout {pageTitle}>
    <h1 class="scroll-m-20 text-3xl font-semibold tracking-tight mb-8">Recent</h1>
    <section class="flex flex-col gap-4"> 
      {posts.map((post) => <BlogPost url={post.url} {...post.frontmatter} />)}
    </section>
</BaseLayout>
