---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Post from '@/components/Post.astro';
import { getCollection } from 'astro:content';

export const prerender = true;

const pageTitle = 'Blog';
const posts = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

---
<BaseLayout {pageTitle}>
  <h1 class="pb-8 scroll-m-20 text-3xl lg:text-4xl font-semibold tracking-tight">Posts</h1>
    <section class="flex flex-col gap-4">
      {posts.reverse().map((post) => <Post url=`/blog/${post.slug}/` {...post.data} />)}
    </section>
</BaseLayout>
