
---
import BaseLayout from '../layouts/BaseLayout.astro'

export const prerender = true;

const pageTitle = 'CV'
---
<BaseLayout {pageTitle}>
  <h1 class="scroll-m-20 text-3xl font-semibold tracking-tight mb-4">Experience</h1>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight pb-2">Caterpillar Inc.</h4>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Software Engineer</div>
      <div class="text-base font-medium opacity-70">May 2023 - Present</div>
    </div>
    <div class="mb-2 sm:w-3/4 pl-4">
      <div class="text-lg font-medium pb-2">Spearheaded eCommerce initiatives by developing React banner ads and landing pages, ensuring seamless functionality across 160 CAT dealerships, resulting in a 20% increase in market efficiency</div>
      <div class="text-lg font-medium pb-2">Trained 80 new dealers on HCL Commerce Management Center, enabling faster adoption and streamlined operations within dealership networks</div>
      <div class="text-lg font-medium pb-2">Designed a comprehensive self-training program for dealer onboarding, reducing training time by 50% and improving user proficiency</div>
      <div class="text-lg font-medium ">Led monthly release validation and deployment for parts.cat.com, ensuring timely feature rollouts without defects, including a major initiative to fully recategorize 1.4m+ parts for improved user navigation and search engine optimization</div>
    </div>
  </div>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Applications Intern</div>
      <div class="text-base font-medium opacity-70 ">May 2022 - August 2022</div>
    </div>
    <div class="mb-2 sm:w-3/4 pl-4">
      <div class="text-lg font-medium pb-2">Developed and automated end-to-end tests for the CAT Central App using Cypress and Azure CI/CD pipelines, reducing manual testing time by 30% and accelerating release cycles</div>
      <div class="text-lg font-medium pb-2">Produced intractive integration testing reports levereging Java, Cucumber, and the ExtentReports framework, improving test readability and stakeholder engagement</div>
      <div class="text-lg font-medium ">Delivered a comprehensive testing flow presentation to 5 QA teams, resulting in an 80% increase in test coverage and improved quality assurance processes</div>
    </div>
  </div>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Platform Intern</div>
      <div class="text-base font-medium opacity-70">May 2021 - Dec 2021</div>
    </div>
    <div class="mb-2 sm:w-3/4 pl-4">
      <div class="text-lg font-medium pb-2">Created AWS CloudWatch dashboards for CAT Foresight's data ingestion services, providing real-time monitoring and reducing incident response time by 25%</div>
      <div class="text-lg font-medium">Implemented input sanitization for new CVAs and performed legacy service database migrations in PostgreSQL ensuring data integrity and securing 4m+ CAT assets from potential vulnerabilities</div>
    </div>
  </div>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight pt-2 pb-2 ">Juni Learning</h4>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Computer Science Instructor</div>
      <div class="text-base font-medium opacity-70">Jan 2021 - Dec 2021</div>
    </div>
    <div class="mb-2 sm:w-3/4 pl-4">
      <div class="text-lg font-medium pb-2">Instructed 10 students online in high school through college level courses in C++, Python, Java, and Javscript</div>
      <div class="text-lg font-medium ">Created custom coding exercises and interactive debugging tools to address individual students' needs</div>
    </div>
  </div>
  <h1 class="pt-6 scroll-m-20 text-3xl font-semibold tracking-tight mb-4">Education</h1>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight pb-2">University of Michigan</h4>
  <div>
    <div class="flex flex-row w-full justify-between">
      <div class="font-semibold opacity-70 text-lg">B.S.E in Computer Science, Magna Cum Laude</div>
      <div class="text-base font-medium opacity-70 invisible sm:visible">Dec 2022</div>
    </div>
    <div class="text-lg font-semibold opacity-70">Coursework: Operating Systems, Web Systems, Database Management, UI Development</div>
  </div>
</BaseLayout>

