
---
import BaseLayout from '../layouts/BaseLayout.astro'

export const prerender = true;

const pageTitle = 'CV'
---
<BaseLayout {pageTitle}>
  <h1 class="scroll-m-20 text-3xl font-semibold tracking-tight mb-4">Experience</h1>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight pb-2">Caterpillar Inc.</h4>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Software Engineer</div>
      <div class="text-base font-medium opacity-70">May 2023 - Present</div>
    </div>
    <div class="mb-2 sm:w-3/4 pl-4">
      <div class="text-lg font-medium pb-2">Spearheaded eCommerce initiatives by developing React landing pages, CMS driven banner components, and REST API integrations used by 160+ CAT dealership eCommerce sites</div>
      <div class="text-lg font-medium pb-2">Led monthly release validation and deployment for parts.cat.com in AWS, ensuring zero-downtime feature rollouts; contributed to major site architecture updates recategorizing 1.4m+ SKUs for improved SEO and faceted navigation</div>
      <div class="text-lg font-medium pb-2">Designed and launched a scalable onboarding framework using HCL Commerce, training 80+ dealers and reducing ramp-up time by 50%</div>
      <div class="text-lg font-medium">Created an internal onboarding web app and training modules that automated key workflows, improving dealer proficiency and cutting manual support requests by 30%</div>
    </div>
  </div>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Applications Intern</div>
      <div class="text-base font-medium opacity-70 ">May 2022 - August 2022</div>
    </div>
    <div class="mb-2 sm:w-3/4 pl-4">
      <div class="text-lg font-medium pb-2">Automated integration and end-to-end tests for the CAT Central App’s Login API using Cypress and Azure CI/CD pipelines, reducing manual QA time and accelerating CI/CD release cycles</div>
      <div class="text-lg font-medium pb-2">Presented a standardized test automation framework across five QA teams, increasing automated test coverage by 80% and reducing regression failure rates by 25% over two release cycles</div>
      <div class="text-lg font-medium">Generated detailed test reports using Java, Cucumber, and ExtentReports to capture integration test results, improving defect traceability and reducing test analysis time</div>
    </div>
  </div>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Platform Intern</div>
      <div class="text-base font-medium opacity-70">May 2021 - Dec 2021</div>
    </div>
    <div class="mb-2 sm:w-3/4 pl-4">
      <div class="text-lg font-medium pb-2">Built real-time AWS CloudWatch dashboards to monitor CAT Foresight’s data ingestion pipelines, reducing incident response time by 25% and improving system reliability</div>
      <div class="text-lg font-medium">Migrated legacy services and schemas in PostgreSQL and implemented input sanitization and validation logic for incoming CVA telemetry data, securing data for 4M+ CAT assets</div>
    </div>
  </div>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight pt-2 pb-2 ">Juni Learning</h4>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Computer Science Instructor</div>
      <div class="text-base font-medium opacity-70">Jan 2021 - Dec 2021</div>
    </div>
    <div class="mb-2 sm:w-3/4 pl-4">
      <div class="text-lg font-medium pb-2">Instructed 10 students online in high school through college level courses in C++, Python, Java, and Javscript</div>
      <div class="text-lg font-medium ">Created custom coding exercises and interactive debugging tools to address individual students' needs</div>
    </div>
  </div>
  <h1 class="pt-6 scroll-m-20 text-3xl font-semibold tracking-tight mb-4">Education</h1>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight pb-2">University of Michigan</h4>
  <div>
    <div class="flex flex-row w-full justify-between">
      <div class="font-semibold opacity-70 text-lg">B.S.E in Computer Science, Magna Cum Laude</div>
      <div class="text-base font-medium opacity-70 invisible sm:visible">Dec 2022</div>
    </div>
    <div class="text-lg font-semibold opacity-70">Coursework: Operating Systems, Web Systems, Database Management, UI Development</div>
  </div>
</BaseLayout>

