
---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'CV'
---
<BaseLayout {pageTitle}>
  <h1 class="scroll-m-20 text-3xl font-semibold tracking-tight mb-4">Experience</h1>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight pb-2">Caterpillar Inc.</h4>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Software Engineer</div>
      <div class="text-base font-medium opacity-70">May 2023 - Present</div>
    </div>
    <div class="mb-2 sm:w-3/4">
      <div class="text-lg font-medium pb-2">Responsible for eCommerce new banner ad and landing page development for all CAT dealerships</div>
      <div class="text-lg font-medium pb-2">Conducted training for 80 new dealers to use HCL Commerce Management Center and developed a self-training program for future dealer onboarding</div>
      <div class="text-lg font-medium ">Member of monthly release team for validating and deploying all new features on parts.cat.com and individual dealer e-sites</div>
    </div>
  </div>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Applications Intern</div>
      <div class="text-base font-medium opacity-70 ">May 2022 - August 2022</div>
    </div>
    <div class="mb-2 sm:w-3/4">
      <div class="text-lg font-medium pb-2">Key role in writing and automating end-to-end tests for CAT Central App using Cypress and Azure CI/CD</div>
      <div class="text-lg font-medium pb-2">Extensive integration testing using Cucumber and Java introducing interactive integration testing reports using the ExtentReports framework</div>
      <div class="text-lg font-medium ">Presented completed testing flow to 5 related QA teams for use in their projects</div>
    </div>
  </div>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Platform Intern</div>
      <div class="text-base font-medium opacity-70">May 2021 - Dec 2021</div>
    </div>
    <div class="mb-2 sm:w-3/4">
      <div class="text-lg font-medium pb-2">Created AWS CloudWatch dashboards for CAT Foresight's CVA and HIS services</div>
      <div class="text-lg font-medium pb-2">Implemented input sanitization for new CVAs affecting 4m+ CAT Assets</div>
      <div class="text-lg font-medium pb-2">Performed legacy service database migrations in PostgreSQL</div>
      <div class="text-lg font-medium">Fully involved in Agile team meetings, design discussions, and scoping feature requests</div>
    </div>
  </div>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight pt-2 pb-2 ">Juni Learning</h4>
  <div>
    <div class="flex flex-col sm:flex-row w-full justify-between pb-2">
      <div class="font-semibold opacity-70 text-lg">Computer Science Instructor</div>
      <div class="text-base font-medium opacity-70">Jan 2021 - Dec 2021</div>
    </div>
    <div class="mb-2 sm:w-3/4">
      <div class="text-lg font-medium pb-2">Instructed 10 students online in high school through college level C++, Python, Java, and Javascript</div>
      <div class="text-lg font-medium ">Created additional software tools and resources per student to address areas for improvement</div>
    </div>
  </div>
  <h1 class="pt-6 scroll-m-20 text-3xl font-semibold tracking-tight mb-4">Education</h1>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight pb-2">University of Michigan</h4>
  <div>
    <div class="flex flex-row w-full justify-between">
      <div class="font-semibold opacity-70 text-lg">B.S.E in Computer Science, Magna Cum Laude</div>
      <div class="text-base font-medium opacity-70 invisible sm:visible">Dec 2022</div>
    </div>
    <div class="text-lg font-semibold opacity-70">Coursework: Operating Systems, Web Systems, Database Management, UI Development</div>
  </div>
</BaseLayout>

