---
import BaseLayout  from '../layouts/BaseLayout.astro';
const pageTitle = 'Saketh Thota';
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0bb">Hi I'm Saketh</h1></h>
</BaseLayout>
