---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Project from '@/components/Project.astro';
import { getCollection } from 'astro:content';

export const prerender = true;

const pageTitle = 'Projects';
const projects = await getCollection('projects', ({ data }) => !data.hidden);
---

<BaseLayout {pageTitle}>
  <h1 class="fd-page-heading">Projects</h1>
  <section class="grid md:grid-cols-2 gap-8"> 
    {projects.sort((a,b) => b.data.id - a.data.id).map((project) => <Project {...project.data} />)}
  </section>
</BaseLayout>
