---
import { getCollection } from 'astro:content'
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Separator } from '@/components/ui/separator';
import { ServiceCarousel } from "@/components/ServiceCarousel"
import { ContactForm } from "@/components/ContactForm"
import TestimonialCard from '@/components/TestimonialCard.astro';

const services = await getCollection('services'); // tutoring services
const testimonials = await getCollection('testimonials') // testimonials
---

<BaseLayout>
    <h1 class="pb-8 scroll-m-20 text-3xl lg:text-4xl font-semibold tracking-tight">Book with Me!</h1>
    <div class="flex flex-col-reverse gap-8 md:flex-row md:flex justify-between items-center md:items-start ">
        <p class="text-xl lg:text-2xl leading-8 lg:leading-10 md:w-3/5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar turpis ex, varius dapibus erat placerat non. Nullam ante purus, posuere sit amet mattis vitae, ultrices nec lorem. Vivamus eget lacinia quam.</p>
        <div class="flex w-2/5 justify-center">
            <img class="w-32 h-32 md:w-48 md:h-48 rounded-full" alt="headshot" src="https://media.licdn.com/dms/image/v2/D4E03AQEGTsoe9UvWVA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1687795381852?e=1755734400&v=beta&t=-a6oWXoRWiHdgH8tczylkcQgpOXoC9cDP_5U8d_hNr8">
        </div>
    </div>
    <Separator className="my-10"/>
    <div class="flex flex-col gap-16 py-8">
        <div class="flex justify-center pb-4">
            <div class="w-11/12 md:w-9/12 container">
                <ServiceCarousel client:load services={services.map(service=>service.data.properties)}/>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row gap-4">
            {testimonials.map((testimonial) => {
                return <TestimonialCard {...testimonial.data} />
            })}
        </div>
    </div>
    <!-- form -->
    <div class="flex flex-row justify-between pt-8">
        <div>
            <h1 class="pb-8 scroll-m-20 text-xl lg:text-2xl font-semibold tracking-tight">Contact</h1>
        </div>
        <ContactForm />
    </div>
</BaseLayout>