
---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Separator } from '@/components/ui/separator'
---
<BaseLayout>
  <h1 class="scroll-m-20 text-2xl font-semibold tracking-tight">Experience</h1>
  <Separator className="my-4"/>
  <h4 class="scroll-m-20 text-xl font-semibold tracking-tight">Caterpillar Inc.</h4>
  <div class="flex flex-row justify-between">
    <div class="">
      <div class="font-semibold opacity-70">Software Engineer</div>
      <ul class="my-2 ml-4 list-disc [&>li]:mt-1">
        <li class="text-sm font-medium">Responsible for eCommerce new banner ad and landing page development for all CAT dealerships</li>
        <li class="text-sm font-medium">Conducted training for 80 new dealers to use HCL Commerce Management Center and developed a self-training program for future dealer onboarding</li>
        <li class="text-sm font-medium">Member of monthly release team for validating and deploying all new features on parts.cat.com and individual dealer e-sites</li>
      </ul>
    </div>
    <div class="text-xs font-semibold opacity-70 whitespace-nowrap w-32 shrink-0 text-end">
      May 2023 - Present
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div>
      <div class="font-semibold opacity-70">Applications Intern</div>
      <ul class="my-2 ml-4 list-disc [&>li]:mt-1">
        <li class="text-sm font-medium">Key role in writing and automating end-to-end tests for CAT Central App using Cypress and Azure CI/CD</li>
        <li class="text-sm font-medium">Extensive integration testing using Cucumber and Java introducing interactive integration testing reports using the ExtentReports framework</li>
        <li class="text-sm font-medium">Presented completed testing flow to 5 related QA teams for use in their projects</li>
      </ul>
    </div>
    <div class="text-xs font-semibold opacity-70 whitespace-nowrap w-32 shrink-0 text-end">
      May 2022 - Aug 2022
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div>
      <div class="font-semibold opacity-70">Platform Intern</div>
      <ul class="my-2 ml-4 list-disc [&>li]:mt-1">
        <li class="text-sm font-medium">Created AWS CloudWatch dashboards for CAT Foresight's CVA and HIS services</li>
        <li class="text-sm font-medium">Implemented input sanitization for new CVAs affecting 4m+ CAT Assets</li>
        <li class="text-sm font-medium">Performed legacy service database migrations in PostgreSQL</li>
        <li class="text-sm font-medium">Fully involved in Agile team meetings, design discussions, and scoping feature requests</li>
      </ul>
    </div>
    <div class=" text-xs font-semibold opacity-70 whitespace-nowrap w-32 shrink-0 text-end">
      May 2021 - Dec 2021
    </div>
  </div>
  <h4 class="scroll-m-20 text-2xl font-semibold tracking-tight">Juni Learning</h4>
  <div class="flex flex-row justify-between">
    <div>
      <div class="font-semibold opacity-70">Computer Science Instructor</div>
      <ul class="my-2 ml-4 list-disc [&>li]:mt-1">
        <li class="text-sm font-medium">Instructed 10 students online in high school through college level C++, Python, Java, and Javasscript</li>
        <li class="text-sm font-medium">Created additional software tools and resources per student to address areas for improvement</li>
      </ul>
    </div>
    <div class="text-xs font-semibold opacity-70 whitespace-nowrap w-32 shrink-0 text-end">
    Jan 2021 - Dec 2021
    </div>
  </div>
  <h1 class="pt-8 scroll-m-20 text-2xl font-semibold tracking-tight">Education</h1>
  <Separator className="my-4"/>
  <h4 class="scroll-m-20 text-xl font-semibold tracking-tight">University of Michigan</h4>
  <div class="flex flex-row justify-between">
    <div>
      <div class="font-semibold opacity-70">B.S.E in Computer Science, Magna Cum Laude</div>
      <div class="text-sm font-medium opacity-70">Coursework: Operating Systems, Web Systems, Database Management, UI Development</div>
    </div>
    <div class="text-xs font-semibold opacity-70 whitespace-nowrap w-24 shrink-0 text-end">
    Dec 2022
    </div>
  </div>
</BaseLayout>

