---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Project from '@/components/Project.astro';

const pageTitle = 'Projects';
const projects = await Astro.glob("../pages/projects/*_final.mdx");
---

<BaseLayout {pageTitle}>
  <h1 class="scroll-m-20 text-3xl font-semibold tracking-tight mb-8">Projects</h1>
  <section class="grid md:grid-cols-2 gap-8"> 
    {projects.reverse().map((project) => <Project url={project.url} {...project.frontmatter} />)}
  </section>
</BaseLayout>
