---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Project from '@/components/Project.astro';

const pageTitle = 'Projects';
let projects: any[] = [];
try {
  projects = await Astro.glob("../pages/projects/*.mdx")
} catch (e) {
  console.log("no blog posts found")
}
---

<BaseLayout {pageTitle}>
  <h1 class="scroll-m-20 text-3xl font-semibold tracking-tight mb-8">Projects</h1>
  <section class="grid md:grid-cols-2 gap-8"> 
    {projects.reverse().map((project) => <Project url={project.url} {...project.frontmatter} />)}
  </section>
</BaseLayout>
