---
import {
  Astronav,
  MenuItems,
} from "astro-navbar";
import { ModeToggle } from '@/components/ModeToggle';
import { GitHubLogoIcon, OpenInNewWindowIcon } from '@radix-ui/react-icons';
---
<aside class="-ml-[8px] mb-16 tracking-tight"
  <div class="lg:sticky lg:top-20">
    <Astronav>
      <MenuItems class="flex flex-row items-start justify-center relative px-0 pb-0 fade md:overflow-auto scroll-pr-6 md:relative">
          <ul class="flex flex-row gap-8 items-center text-xl lg:text-2xl font-medium">
            <li>
                <a href="/" class="hover:text-accent">me</a>
            </li>
            <li>
              <a href="/tutoring" class="hover:text-accent">tutoring</a>
            </li>
            <li>
              <a href="/cv" class="hover:text-accent">cv</a>
            </li>
            <li>
                <a href="/work" class="hover:text-accent">projects</a>
            </li>
            <li>
                <a href="/blog" class="hover:text-accent">blog</a>
            </li>
            
            <li>
              <ModeToggle client:load />
            </li>
            <li>
              <a href="https://github.com/sakeththota/skth" class="hover:text-accent">
                <OpenInNewWindowIcon className="h-6 w-6 opacity-70" /></a>
            </li>
          </ul>
      </MenuItems>
    </Astronav>
  </div>
</aside>
