---
import {
  Astronav,
  MenuItems,
} from "astro-navbar";
import { ModeToggle } from '@/components/ModeToggle';
import {GitHubLogoIcon} from '@radix-ui/react-icons';
---
<aside class="-ml-[8px] mb-16 tracking-tight"
  <div class="lg:sticky lg:top-20">
    <Astronav>
      <MenuItems class="flex flex-row items-start justify-center relative px-0 pb-0 fade md:overflow-auto scroll-pr-6 md:relative">
          <ul class="flex flex-row gap-5 items-center">
            <li>
                <a href="/" class="font-medium text-2xl hover:text-accent">me</a>
            </li>
            <li>
                <a href="/work" class="font-medium text-2xl hover:text-accent">work</a>
            </li>
            <li>
              <a href="/cv" class="font-medium text-2xl hover:text-accent">cv</a>
            </li>
            <li>
                <a href="/blog" class="font-medium text-2xl hover:text-accent">blog</a>
            </li>
            <li>
              <a href="https://github.com/sakeththota/skth" class="font-medium text-2xl hover:text-accent"><GitHubLogoIcon className="h-6 w-6"/></a>
            </li>
            <li>
              <ModeToggle client:load />
            </li>
          </ul>
      </MenuItems>
    </Astronav>
  </div>
</aside>
