---
const { name, title, quote} = Astro.props
---

<div class="fd-testimonial flex-1">
    <div class="flex flex-col-reverse justify-center items-center lg:flex-row">
        <div class="flex flex-col text-center">
            <p class="fd-testimonial-name">{name}</p>
            <p class="fd-testimonial-title mt-1">{title}</p>
        </div>
    </div>
    <div style="height: 1px; background-color: var(--fd-border-light);"></div>
    <div class="flex text-center">
        <p class="fd-testimonial-quote">"{quote}"</p>
    </div>
</div>
