---
const { name, title, quote} = Astro.props
---

<div class="fd-testimonial h-full">
    <div class="flex-1">
        <p class="fd-testimonial-quote">"{quote}"</p>
    </div>
    <div style="height: 1px; background-color: var(--fd-border-light);"></div>
    <div>
        <p class="fd-testimonial-name">{name}</p>
        <p class="fd-testimonial-title mt-1">{title}</p>
    </div>
</div>
