---
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Badge } from "@/components/ui/badge";
const { frontmatter } = Astro.props
const { title, publishedAt, tags} = frontmatter
---
<BaseLayout pageTitle={frontmatter.title}>
  <header class="text-primary prose dark:prose-invert mb-8 pb-8 border-b max-w-none">
    <h1 class="mb-0 font-bold">{title}</h1>
    <small class="font-semibold ">by Saketh Thota · {(new Date(publishedAt)).toLocaleDateString('en-us')}</small>
  </header>
  <div class="prose prose-h2:mb-2 dark:prose-invert max-w-none">
    <slot />
  </div>
  <div class="flex gap-2 mt-8">
    {tags.map((tag) => <Badge className="text-md" variant="outline">{tag}</Badge>)}
  </div>
</BaseLayout>
