---
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Badge } from "@/components/ui/badge";
const { frontmatter } = Astro.props
const { title, publishedAt, tags} = frontmatter
---
<BaseLayout pageTitle={frontmatter.title}>
  <header class="text-primary prose dark:prose-invert mb-8 pb-8 border-b max-w-none">
    <h1 class="mb-4 text-3xl lg:text-4xl font-bold">{title}</h1>
    <small class="text-xl lg:text-2xl text-muted-foreground">by Saketh Thota · {(new Date(publishedAt)).toLocaleDateString('en-us')}</small>
  </header>
  <div class="prose prose-h2:text-2xl prose-h2:lg:text-3xl prose-h2:font-bold prose-p:text-xl prose-p:lg:text-2xl prose-p:leading-8 prose-p:lg:leading-10 prose-li:text-xl prose-li:lg:text-2xl dark:prose-invert max-w-none">
    <slot />
  </div>
  <div class="flex gap-2 mt-8">
    {tags.map((tag: string) => <Badge className="text-md" variant="outline">{tag}</Badge>)}
  </div>
</BaseLayout>
