---
import BaseLayout from "@/layouts/BaseLayout.astro"
const { frontmatter } = Astro.props
const { title, publishedAt, tags} = frontmatter
---
<BaseLayout pageTitle={frontmatter.title}>
  <header class="fd-post-header">
    <h1 class="fd-post-header-title">{title}</h1>
    <span class="fd-post-header-meta">by Saketh Thota &middot; {(new Date(publishedAt)).toLocaleDateString('en-us')}</span>
  </header>
  <div class="fd-prose">
    <slot />
  </div>
  <div class="flex gap-2 mt-8">
    {tags.map((tag: string) => <span class="fd-tag">{tag}</span>)}
  </div>
</BaseLayout>
